@import 'config-colors.less';
@import 'overrides.less';
@import 'classes.less';
@import 'typography.less';

@import 'header.less';
@import 'content.less';
@import 'footer.less';

@import 'home.less';
@import 'news.less';






.page-block{
  background-repeat: no-repeat;
  .main-row{
    min-height: 100vh;
  }
  .block-title{
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    color: #00E676;
  }
}

.page-block-maul{
  background-image: url(../img/HH_maul.png);
  background-position: top left;
}

.page-block-rune{
  background-image: url(../img/HH_rune.png);
  background-position: top right;
  background-color: #f9f9f9;
}

.page-block-shroud{
  background-image: url(../img/HH_shroud.png);
  background-position: top left;
}