{{ "<!-- BEGIN FOOTER -->" | safeHTML }}
<div class="footer">
	<div class="footer-about">
		<h2>About The Chronicles of Spellborn</h2>
		<p><strong>The Chronicles of Spellborn</strong> is a defunct MMORPG developed by Spellborn NV in the Netherlands. Originally released in 2008, it had a slow and painful death.</p>
		<p>Problems with publishers, an unclear vision for the future and being released in the midst of the MMORPG-boom, it had all odds against it.</p>
		<p>For many years, a team of motivated fans tried to get the game up and running again, which succeeded in 2019. The game is now playable again, with more content and fixes than ever, and this all for free.</p>
		<p>This is fan-driven project for the love of this truly unique game and we hope you will like the game as much as we do.</p>
	</div>
	<div class="footer-social">
		<h2>Handy links</h2>
		<ul>
			<li><a href="https://forum.spellborn.org">Forums</a></li>
			<li><a href="https://discord.gg/M8u7AsG">Discord</a></li>
			<li><a href="https://account.spellborn.org">Manage Spellborn account</a></li>
			<li><a href="https://files.spellborn.org/launcher/installer.exe">Download launcher</a></li>
			<li><a href="https://donorbox.org/spellborn-reborn">Donate</a></li>
		</ul>
	</div>
</div>
{{ "<!-- END FOOTER -->" | safeHTML }}

</div> {{ "<!-- End of wrapper -->" | safeHTML }}

{{ "<!-- JS includes -->" | safeHTML }}

</body>
</html>