<div class="home-video">
	<div class="home-video-text">
		<img src="../img/logo_spellborn.png" alt="The Chronicles of Spellborn">
		<h1>{{ .Site.Params.hero.herotitle }}</h1>
		<h2>{{ .Site.Params.hero.herodiscription }}</h2>
		<a href="/content/getting-started" class="button">{{ .Site.Params.hero.btngreen }}!</a>
	</div>
	<iframe src="https://www.youtube.com/embed/HMyXwmgnIJI?&autoplay=1&mute=1&playsinline=1&playlist=HMyXwmgnIJI&loop=1&controls=0&disablekb=1"></iframe>
</div>

<div class="home-oracle">
	<div class="home-oracle-text">
		<h2>About the game</h2>
		<p>The Chronicles of Spellborn was first released in November 2008 by the Dutch company Spellborn NV. The game was marked as an MMORPG, but stood out from the rest because of its unique art style and combat system.</p>
		<p>However, it had a troublesome launch, and after being online for just 2 years the game’s servers were shut down.</p>
	</div>
</div>

<div class="home-quarterstone">
	<div class="home-quarterstone-text">
		<h2>The Chronicles of Spellborn: Reborn</h2>
		<p>Since the shutdown, a group of enthousiasts started a project called Spellborn Reborn. Together they tried reverse engineering the game, trying to create a game server for people to join.</p>
		<p>Now, more than 10 years later, the moment has finally come for everybody to play this rough diamond once more, complete with new bugfixes and unreleased content.</p>
		<p>So feel free to set foot in the game as a member of the Enclave and amaze yourself once more of the stunning shards and unique visuals that this game has to offer.</p>
	</div>
</div>

<div class="home-account">
	<div class="home-account-text">
		<h2>Create your account now</h2>
		<p>Want to join us in this incredible world? <a href="https://account.spellborn.org">You can create your Spellborn Account for free here</a>. <br>With this account, you can create and manage your in-game accounts - keep in mind that you use this account to create a game account, but you do not login to the game with this account directly.</p>
		<p>Looking to join our incredible community? You are always welcome in <a href="https://discord.gg/jA6EwuX">our Discord server</a> for help, banter and adventures.</p>
	</div>
</div>