{{ "<!-- BEGIN NAV BAR DESKTOP -->" | safeHTML }}
<nav>
	<ul>
		<li><a href="/">Home</a></li>
		<li class="hide-for-small"><a href="/news">News</a></li>
		<li class="hide-for-small"><a href="https://forum.spellborn.org">Forum</a></li>
		<li><a href="https://donorbox.org/spellborn-reborn">Donate</a></li>
		<li class="hide-for-small"><a href="/content/high-houses">High Houses</a></li>
		<li class="hide-for-small"><a href="/content/getting-started">Get Started</a></li>
		<li><a href="/content/server-status">Server Status</a></li>
	</ul>
</nav>
{{ "<!-- END NAV BAR DESKTOP -->" | safeHTML }}


