/*************
Global Styles
************** */
.wrapper {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
}

.off-canvas-wrapper {
    background-color: #222;
}

/*************
Nav mobile
************** */
.title-bar {
    background-color: #222;
    height: 60px;
    padding-top: 15px;
}

#mobile-menu {
    background-color: #222;
    padding: 10px;
}

#mobile-menu li {
    list-style: none;
}

#mobile-menu a {
    color: rgba(255, 255, 255, 0.6);
    font-weight: bold;
    line-height: 2;
}

#mobile-menu a:hover {
    color: rgba(255, 255, 255, 0.8);
}

/*************
Nav desktop
************** */
.nav-desktop {
    background-color: #222;
    padding: 0;
}

.site-logo {
    color: white;
}

.nav-desktop .menu-desktop {
    background-color: transparent;
    line-height: 50px;
}

.menu > li > a {
    display: inline-block;
    color: white;
    line-height: 50px;
    padding-top: 0;
    padding-bottom: 0;
}

.menu > li > a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/*************
Hero
************** */
.hero-panel {
    background-color: #CCCCCC;
    padding: 50px 0px;
    /*top right bottom left*/
    height: 300px;
    background-image: url("../img/swirl_pattern.png");
}

/*************
Main
************** */
.main-content {
    padding: 80px 0px;
}

.content-one {
}

.content-two {
}

/*************
Footer
************** */
footer {
    background-color: #222;
    padding: 50px 0px;
}

footer h4 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.3em;
}

footer hr {
    border-color: rgba(255, 255, 255, 0.1);
    margin: 10px 0;
}

footer a {
    display: block;
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.8em;
}

footer a span {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.3);
}

footer a:hover {
    color: rgba(255, 255, 255, 0.8);
}

/*************
Media Query
************** */
@media (max-width: 640px) {
    .nav-desktop {
        display: none;
    }
}

@media (max-width: 800px) {
    .hero h1,
    .hero p {
        width: 100%;
    }
}

/*Theming*/
.top-bar .site-logo img {
    max-height: 36px;
}

/*Articles*/
.large-article-header {
    background: url("https://unsplash.it/1024/500/?blur") no-repeat center;
    background-size: cover;
    height: 31.25rem;
    position: relative;
}

@media screen and (max-width: 39.9375em) {
    .large-article-header {
        height: 20.83333rem;
    }
}

.large-article-header-content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    bottom: 3.125rem;
    left: 0;
    right: 0;
}

@media screen and (max-width: 39.9375em) {
    .large-article-header-content {
        bottom: 1.25rem;
    }
}

.large-article-header-content .center-container {
    width: 50%;
    margin: 0 auto;
}

@media screen and (max-width: 39.9375em) {
    .large-article-header-content .center-container {
        width: 100%;
        padding: 0 1.25rem;
    }
}

.large-article-header-content .article-date {
    color: #FEFEFE;
}

.large-article-header-content .article-title h1 {
    line-height: 3.125rem;
    color: #FEFEFE;
    font-weight: 600;
}

@media screen and (max-width: 39.9375em) {
    .large-article-header-content .article-title h1 {
        line-height: 1.875rem;
    }
}

.large-article-header-content .article-details {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.large-article-header-content .article-details a {
    color: #FEFEFE;
}

.large-article-header-content .article-author {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 1rem 0;
}

.large-article-header-content .article-author img {
    border-radius: 3.125rem;
}

.large-article-header-content .article-author a {
    margin-left: 1rem;
}
