
{{ define "main" }}
<article id="content" class="newspost">
    <header id="hero" style="background-image:url('/img/headers/{{ .Params.headerimage }}')">
        <div class="container">
            <div class="row main-row align-items-center">
                <div class="col-sm-12 text-center">
                    <div class="hero-text">
                        <h1 id="title">{{ .Title }}</h1>
                        <p class="subslogan">{{ .Params.leadtext }}</p>
                        <div class="info">
                          <span class="timestamp">{{ .Date.Format "2 Jan 2006" }}</span> by <span class="author">{{.Params.author}}</span>
                        </div>
                    </div>
                    <div class="article-tags">
                        {{ with .Params.tags }}
                            {{ range . }}
                            <a href="{{ "tags" | absURL }}/{{ . | urlize }}"><span class="badge badge-primary">{{ . }}</span></a>
                            {{ end }}
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {{ .Content }}
            </div>
        </div>
    </section>
</article>

{{ end }}
