
{{ define "main" }}
<article id="content" class="basic-page">
    <header id="hero" style="background-image:url('/img/headers/{{ .Params.headerimage }}')">
        <div class="container">
            <div class="row main-row align-items-center">
                <div class="col-sm-12 text-center">
                    <div class="hero-text">
                        <h1 id="title">{{ .Title }}</h1>
                        <p class="subslogan">{{ .Params.leadtext }}</p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {{ .Content }}

</article>

{{ end }}
