{{ partial "header.html" . }}
<div class="container single" id="post">
	{{ partial "nav.html" . }}

	<div class="hero">
		<img src="{{ .Site.BaseURL }}/img/headers/{{ .Params.headerimage }}" alt="{{ .Title }}" />
	</div>
	<div class="hero-text page">
		<h1>{{ .Title }}</h1>
		<h2>{{ .Params.leadtext }}</h2>
	</div>

	<div class="post-page">
		<div class="post-wrapper">
			{{ .Content }}
		</div>
	</div>

	{{ partial "footer.html" . }}
</div>
{{ block "scripts" . }}
<!-- Allows to load scripts on the end of the page -->
{{ end }}
</body>
</html>
