<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ block "title" . }} {{ .Site.Title }}{{ end }}</title>
    <base href="{{ .Site.BaseURL }}">
    <link rel="stylesheet" href="{{ "css/foundation.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/app.css" | relURL }}">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|Source+Sans+Pro" rel="stylesheet">
    <link rel="canonical" href="{{ .Permalink }}">
    {{ if .RSSLink }}<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Title }}" />{{ end }}
</head>
<body>
    <nav data-sticky-container>
        <div data-sticky data-options="marginTop:0;">
            <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
                <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
                <div class="title-bar-title"><a href="{{ .Site.BaseURL }}">The Chronicles of Spellborn - Reborn</a></div>
            </div>

            <div class="top-bar sticky" id="responsive-menu">
                <div class="top-bar-center">
                    <ul class="dropdown menu" data-dropdown-menu>

                        {{ $currentPage := . }}
                        {{ range .Site.Menus.topbar }}
                        {{ if .HasChildren }}

                        <li class="sub-menu{{if $currentPage.HasMenuCurrent "topbar" . }} active{{end}}">
                        <a href="javascript:;" class="">
                            {{ .Pre }}
                            <span>{{ .Name }}</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            {{ range .Children }}
                            <li{{if $currentPage.IsMenuCurrent "main" . }} class="active"{{end}}><a href="{{.URL}}"> {{ .Name }} </a> </li>
                            {{ end }}
                        </ul>
                        {{else}}
                        <li>
                            <a href="{{.URL}}">
                                {{ .Pre }}
                                <span>{{ .Name }}</span>
                            </a>
                            {{end}}
                        </li>
                        {{end}}

                        {{ $currentPage := . }}
                        <li><a href="https://www.spellborn.org">Home</a></li>
                        <li><a href="https://www.spellborn.org/news">News</a></li>
                        <li><a href="https://forum.spellborn.org">Forum</a></li>
                        <li class="has-submenu">
                            <a href="#0">The game</a>
                            <ul class="submenu menu vertical" data-submenu>
                                <li><a href="https://files.spellborn.org/latest.zip">Download client</a></li>
                                <li><a href="https://spellborn.org/account/password-reset/">Password reset</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="top-bar-right hide-for-small-only">
                    <form class="ddg" name="x" action="//duckduckgo.com/">
                        <ul class="menu">
                            <input type="hidden" value="spellborn.org" name="sites"></input>
                            <input type="hidden" value="1" name="kh"></input>
                            <input type="hidden" value="1" name="kn"></input>
                            <input type="hidden" value="1" name="kac"></input>
                            <li><input type="search" placeholder="Search" name="q"></input></li>
                            <li><button class="button" type="submit">GO</button></li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </nav>
    <header>
        <div class="cover animated fadeIn"></div>
    </header>

<!-- Code that all your templates share, like a header -->
{{ block "main" . }}
<!-- The part of the page that begins to differ between templates -->
{{ end }}


    <script src="{{ "js/vendor/jquery.js" | relURL }}"></script>
    <script src="{{ "js/vendor/what-input.js" | relURL }}"></script>
    <script src="{{ "js/vendor/foundation.js" | relURL }}"></script>
    <script src="{{ "js/app.js" | relURL }}"></script>

    {{ block "footer" . }}
    <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
    {{ end }}
</body>
</html>