
{{ define "main" }}



<section id="hero" class="container-fluid">
  <div class="container">
    <div class="row">
        <div class="col-4 offset-4">
            <img class="img-fluid logo" src="img/logo_spellborn.png" id="avatar" alt="The Chronicles of Spellborn - Reborn!">
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center reveal">
            <div class="slogan slogan-top">What lies hidden...</div>
            <div class="slogan slogan-bottom">must be found</div>
            <div class="slogan subslogan">10 years later, The Chronicles of Spellborn rises from the ashes!</div>
            <a class="btn btn-warning btn-lg" href="https://spellborn.org/news/we-are-moving-into-open-beta/">Get Started</a>
        </div>
    </div>
  </div>
</section>

{{ range (where .Data.Pages "Section" "home") }}
    <section class="container-fluid homepage-block homepage-block-{{.Params.order}} block-text-position-{{.Params.textpos}}" style="background-image: url('/img/home/{{ .Params.bgimage }}')">
        <div class="container">
            <div class="row main-row align-items-center">
                <div class="col-md-6 reveal">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </section>
    
{{ end }}

{{ end }}

{{ define "footer" }}

{{ end }}