
{{ define "main" }}



<section id="hero" class="container-fluid front">
  <div class="container">
    <div class="row">
        <div class="col-4 offset-4">
            <img class="img-fluid logo" src="img/logo_spellborn.png" id="avatar" alt="The Chronicles of Spellborn - Reborn!">
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center reveal">
            <div class="hero-text">
                <div class="slogan-top">What lies hidden...</div>
                <div class="slogan-bottom">must be found</div>
                <div class="subslogan">10 years later, The Chronicles of Spellborn rises from the ashes!</div>
            </div>
            <a class="btn btn-primary btn-lg cta" href="/content/getting-started/">Get Started</a>
        </div>
    </div>
  </div>
</section>

{{ range (where .Data.Pages "Section" "home") }}
    <section class="container-fluid homepage-block homepage-block-{{.Params.order}} block-text-position-{{.Params.textpos}}" style="background-image: url('/img/home/{{ .Params.bgimage }}')">
        <div class="container">
            <div class="row main-row align-items-center">
                <div class="col-md-6 text-col reveal">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </section>

{{ end }}

<section id="news" class="container-fluid homepage-block homepage-block-3">
    <div class="container">
      <div class="row main-row">
        <div class="col-12 reveal">
          <h2 class="block-title">Recent news</h2>
          <div class="row equal">
            {{ range first 3 (where .Data.Pages "Section" "news").ByDate.Reverse }}
                <article class="col col-md-4 newspost teaser">
                  <div class="inner d-flex h-100 flex-column">
                    <div class="info">
                      <span class="timestamp">{{ time .Params.date | dateFormat "2 Jan 2006" }}</span> by <span class="author">{{.Params.author}}</span>
                    </div>
                    <a href="{{.Permalink}}"><img class="img-fluid" src="/img/news/{{ .Params.headerimage }}" /></a>
                    <div class="content flex-fill flex-column d-flex justify-content-start">
                      <a href="{{.Permalink}}" class="no-line"><h3>{{.Title}}</h3></a>
                      <p>{{.Description}}</p>
                      <a href="{{.Permalink}}">Read More</a>
                    </div>
                  </div>
                </article>
            {{ end }}
          </div>
        </div>
    </div>
    </div>
</section>

{{ end }}

{{ define "footer" }}

{{ end }}