<section id="skills">
    <div class="grid-x">
        <div class="small-12 medium-6 large-3 cell">
            <div id="containerphp" class="container"></div>
            <p class="text-center">PHP</p>
        </div>
        <div class="small-12 medium-6 large-3 cell">
            <div id="containerpowershell" class="container"></div>
            <p class="text-center">Powershell</p>
        </div>
        <div class="small-12 medium-6 large-3 cell">
            <div id="containerlinux" class="container"></div>
            <p class="text-center">Linux</p>
        </div>
        <div class="small-12 medium-6 large-3 cell">
            <div id="containerhtml" class="container"></div>
            <p class="text-center">Windows Server</p>
        </div>
    </div>

    <div class="grid-x grid-margin-x">
        <!-- left -->
        <div class="small-6 cell">
            <span>Microsoft Office</span>
            <div class="progress" role="progressbar"  tabindex="0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-meter" id="officeBar"></div>
            </div>
            <span>SQL</span>
            <div class="progress" role="progressbar"  tabindex="0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-meter" id="sqlBar"></div>
            </div>
            <span>Javascript</span>
            <div class="progress" role="progressbar"  tabindex="0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-meter" id="javascriptBar"></div>
            </div>
            <span>CodeIgniter</span>
            <div class="progress" role="progressbar"  tabindex="0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-meter" id="codeigniterBar"></div>
            </div>
            <span>Symfony</span>
            <div class="progress" role="progressbar"  tabindex="0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-meter" id="symfonyBar"></div>
            </div>
            <span>Windows &amp; Windows Server</span>
            <div class="progress" role="progressbar"  tabindex="0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-meter" id="windowsBar"></div>
            </div>
            <span>Zurb Foundation 4/5/6</span>
            <div class="progress" role="progressbar"  tabindex="0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-meter" id="foundationBar"></div>
            </div>
        </div>
        <!-- right -->
        <div class="small-6 cell">
            <span>PhpStorm</span>
            <div class="progress" role="progressbar"  tabindex="0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-meter" id="phpstormBar"></div>
            </div>
            <span>WordPress</span>
            <div class="progress" role="progressbar"  tabindex="0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-meter" id="wordpressBar"></div>
            </div>
            <span>Laravel</span>
            <div class="progress" role="progressbar"  tabindex="0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-meter" id="laravelBar"></div>
            </div>
            <span>Netwerkbeheer (CCNA)</span>
            <div class="progress" role="progressbar"  tabindex="0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-meter" id="netwerkBar"></div>
            </div>
            <span>PowerShell</span>
            <div class="progress" role="progressbar"  tabindex="0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-meter" id="csBar"></div>
            </div>
            <span>SASS</span>
            <div class="progress" role="progressbar"  tabindex="0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-meter" id="webdesignBar"></div>
            </div>
        </div>
    </div>
    <br>
    <div class="grid-x">
        <div class="cell">
            <h2>Languages</h2>
            <span>Dutch</span>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="Moedertaal" aria-valuemax="100">
				  <span class="progress-meter"  id="nlBar" style="width: 25%">
					<p class="progress-meter-text">Mother tongue</p>
				  </span>
            </div>
            <span>English</span>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="Moedertaal" aria-valuemax="100">
				  <span class="progress-meter"  id="enBar" style="width: 25%">
					<p class="progress-meter-text">Near-native level</p>
				  </span>
            </div>
            <span>French</span>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="Moedertaal" aria-valuemax="100">
				  <span class="progress-meter"  id="frBar" style="width: 25%">
					<p class="progress-meter-text">Reading, writing and speaking on an acceptable level.</p>
				  </span>
            </div>
        </div>
    </div>
</section>