
<section class="hero-panel" id="homepage-hero">
	<div class="wrapper">
		<p><img class="tp-logo-hp" src="img/logo_spellborn.png" id="tcos-logo-hp" alt="The Chronicles of Spellborn - Reborn!"></p>
		<h1>{{ .Site.Params.hero.herotitle }}</h1>
		<p>{{ .Site.Params.hero.herodiscription }}</p>
		<!--<a href="" class="button primary">{{ .Site.Params.hero.btnblue }}</a>-->
		<a href="/content/getting-started/" class="button success">{{ .Site.Params.hero.btngreen }}</a>
	</div>
</section>

<section class="hero-panel" id="homepage-about-the-game">
	<div class="homepage-description">
		<div class="grid-x">
			<div class="cell small-12 medium-6 large-6">
			<div class="cell small-0 medium-6 large-6"></div>
		<h1>About the game</h1>
		<p>The Chronicles of Spellborn was first released in November 2008 by the Dutch company Spellborn NV. The game was marked as an MMORPG, but stood out from the rest because of its unique art style and combat system.</p>
		<p>However, it had a troublesome launch, and after being online for just 2 years the game’s servers were shut down.</p>
			</div>
		</div>
	</div>
</section>

<section class="hero-panel" id="homepage-spellborn-reborn">
	<div class="homepage-description align-right">
		<div class="grid-x">
		<div class="cell small-0 medium-6 large-6"></div>
		<div class="cell small-12 medium-6 large-6">
		<h1>Spellborn Reborn</h1>
		<p>Since the shutdown, a group of enthousiasts started a project called Spellborn Reborn. Together they tried reverse engineering the game, trying to create a game server for people to join.</p>
		<p>Now, more than 10 years later, the moment has finally come for everybody to play this rough diamond once more, complete with new bugfixes and unreleased content.</p>
		<p>Set foot in the Enclave and amaze yourself once more of the stunning shards that the game offers.</p>
		</div>
		</div>
	</div>
</section>

<section class="hero-panel" id="homepage-news">
		<div class="wrapper">
			<div class="grid-x grid-padding-x small-up-1 medium-up-2 large-up-3">
				{{ range first 3 (where site.RegularPages "Type" "in" site.Params.mainSections).ByDate.Reverse }}
				<div class="cell">
					<a href="{{.Permalink}}">
						<div class="card news-card">
							<img src="/img/headers/{{ .Params.headerimage }}">
							<div class="card-section">
								<article class="news-card-article">
									<h4 class="news-card-title">{{.Title}}</h4>
									<p class="news-card-description">{{.Description}}</p>
								</article>
								<div class="news-card-meta grid-x grid-margin-x">
									{{ with .Params.author }}
									<div class="cell small-4 news-card-author-image">
										<img src="/img/author/{{ . }}.png" alt="{{ . }}">
									</div>
									{{ end }}
									<div class="cell auto">
										<p><small>by {{ .Params.Author }}</small></p>
										<p><small>{{ .Date.Format "Monday, 2 January 2006" }}</small></p>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				{{ end }}
			</div>
	</div>
		</div>
	</div>
</section>