<footer>
  <section id="main-footer" class="container-fluid">
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <h2 class="footer-title">Info</h2>
                  <p>The official site regarding the Spellborn Reborn project.</p>
              </div>
              <div class="col-md-2 offset-md-2 footer-menu">
                  <h2 class="footer-title">About the game</h2>
                  <ul>
                    {{ $url := . }}
                    {{ range .Site.Menus.footergame }}
                      <li class="{{ if eq $url (.URL | relLangURL) }}active{{end}}">
                          {{ if eq (hasPrefix .URL "mailto:") true }}
                              <a class="" href="{{ .URL }}">{{ .Name }}</a>
                          {{ else }}
                              <a class="" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
                          {{ end }}
                      </li>
                    {{ end }}
                  </ul>
              </div>
              <div class="col-md-2 footer-menu">
                  <h2 class="footer-title">Quick links</h2>
                  <ul>
                    {{ $url := . }}
                    {{ range .Site.Menus.footerquick }}
                      <li class="{{ if eq $url (.URL | relLangURL) }}active{{end}}">
                          {{ if eq (hasPrefix .URL "mailto:") true }}
                              <a class="" href="{{ .URL }}">{{ .Name }}</a>
                          {{ else }}
                              <a class="" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
                          {{ end }}
                      </li>
                    {{ end }}
                  </ul>
              </div>
              <div class="col-md-2 footer-menu">
                  <h2 class="footer-title">More</h2>
                  <ul>
                    {{ $url := . }}
                    {{ range .Site.Menus.footermore }}
                      <li class="{{ if eq $url (.URL | relLangURL) }}active{{end}}">
                          {{ if eq (hasPrefix .URL "mailto:") true }}
                              <a class="" href="{{ .URL }}">{{ .Name }}</a>
                          {{ else }}
                              <a class="" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
                          {{ end }}
                      </li>
                    {{ end }}
                  </ul>
              </div>
          </div>
      </div>
  </section>
  <section id="secondary-footer" class="container-fluid">
      <div class="container text-center">
        © Copyright Spellborn Reborn
      </div>
  </section>
</footer>