{{ partial "header.html" . }}
<div class="container single" id="post">
	{{ partial "nav.html" . }}

	<div class="hero">
		<img src="{{ .Site.BaseURL }}/img/headers/arena.jpg" alt="{{ .Title }}" />
	</div>
	<div class="hero-text page">
		<h1>{{ .Title }}</h1>
		<h2>{{ .Params.leadtext }}</h2>
	</div>

	<div class="post-page">
		<div class="post-wrapper">
			<h1>404 - The page you are looking for was not found </h1>
			<p>Sorry, but this page could not be found. It might have been deleted, or Kevin might have forgotten about it.</p>
		</div>
	</div>

	{{ partial "footer.html" . }}
</div>
{{ block "scripts" . }}
<!-- Allows to load scripts on the end of the page -->
{{ end }}
</body>
</html>
