<section id="resume" class="animated fadeIn">
    <div class="row">
        <div class="large-12 small-12 columns text-center">
            <a class="button secondary large" href="/resume.pdf">Download resume in English</a>
            <a class="button secondary large" href="/resume.pdf">Download Nederlandstalig CV</a>
        </div>
    </div>
    <div class="row">
        <div class="large-12 small-12 columns" id="introtext">
            <p>Hello, I'm Kevin Petit and I'm a Flemish man in my mid-twenties with a passion for everthing related to IT.</p>
            <p>I was born with a USB-cable as the umbilical cord and I started reading in HTML/CSS before I could even speak a word of English.</p>
            <p>Amongst the things I enjoy are programming (mainly in PHP and C#), designing website (like this very site), managing servers (including the one you're surfing on right now) and so much more - I try to keep busy!</p>
        </div>
    </div>
</section>