<section class="grid-x" id="introduction">
    <div class="small-5 cell"><img src="img/kevin.jpg" id="avatar" alt="Dit ben ik!"></div>
    <div class="small-7 cell">
        <h1>Hello, I'm <strong>Kevin Petit</strong></h1>
        <!--<h2>... en ik ben op zoek naar een nieuwe uitdaging binnen IT!</>-->
        <hr />
        <div class="large-8 small-12 columns right">
            <ul class="no-bullet">
                <li>
                    <strong>Age</strong>
                    <span>26</span>
                </li>
                <li>
                    <strong>Address</strong>
                    <span>Gasthuisstraat 90 G, 2440 Geel</span>
                </li>
                <li>
                    <strong>E-mail</strong>
                    <span>ke@vinpet.it</span>
                </li>
                <li>
                    <strong>Cellphone</strong>
                    <span>+32 485 37 16 18</span>
                </li>
            </ul>
        </div>
    </div>
</section>